<ion-view title="Map UI">
    <ion-content>
  
    
   <!-- <script>
var map;
var infowindow;

function initMap() {
  var userLoc = {lng:-80.8966,
  lat: 34.0298};

  map = new google.maps.Map(document.getElementById('map'), {
    center: userLoc,
    zoom: 10
  });

  infowindow = new google.maps.InfoWindow();

  var service = new google.maps.places.PlacesService(map);
  service.nearbySearch({
    location: userLoc,
    radius: 50000,
    types: ['airport'],
    keyword: ['aviation']
  }, callback);
}

function callback(results, status) {
  if (status === google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      createMarker(results[i]);
    }
  }
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}

    </script>
    <!--<script> src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr8LE7GbO8ankrJGM9jhvoKq8M-rF3g1k&signed_in=true&libraries=places&callback=initMap" async defer </script>-->
  
    <div id="map"></div>
    
  
  </ion-content>
</ion-view>

