
<ion-view title:"User">
<ion-list>
  <ion-card-header>
    Explore Nearby
  </ion-card-header>
  <a href="#" ion-item>
    <icon cart item-left></icon>
    Shopping
  </a>
  <a href="#" ion-item>
    <icon medical item-left></icon>
    Hospital
  </a>
</ion-card>
</ion-list>
</ion-view>
