/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */


html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #homeScreen{
      height: 100%;
        margin: 0;
        padding: 0;
        background: url("img/jetPaper.jpg");
        }
      
   